.addButton{
  margin-bottom: 550px;
  color: #121619;
}

.addButton Button{
  float: left;
  background-color: #121619;
  border: none;
  margin-top: 40px;
  font-size:1.1rem;
}

.addButton Button:hover{
  background-color: grey;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

