.cusdisplay{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 190px;
  }
.menutable thead {
    box-shadow: 0 2px 5px grey;
  }

.menutable {
    box-shadow: 5px 5px 15px grey;
    background-color: white;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }
  
.menutable th {
      padding: 1rem 5rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1.05rem;
}
  
.menutable td {
      padding:15px 5rem;
      font-size: 1rem;
}
  

.menutable tr {
    transition: all .2s ease-in;
    cursor: pointer;
    padding: 20px;
}
.menutable tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.homebuttn Button{
  margin-top:20px;
  float: right;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: black;
  padding-top: 2px;
  padding-bottom: 8px;
  font-size: 1.7rem;
}

.homebuttn Button:hover{
  background-color: transparent;
  color:grey;
  border: none;
}

