
.bgimg {
  background: url("../Assets/IMG_0829v2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
  
  
  /* opacity: 0.5;   */
}


.text-center {
  text-align: center !important;
}

.clean-block .block-content {
  box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  background-color: #fff;
  padding: 40px;

}

.clean-block-booking .block-content-booking {
  box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
}


@media (min-width: 768px) {
  .clean-block.clean-blog-list .block-content {
    padding: 80px;
  }
}

.checkingbloc {
  box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  
  padding: 20px;
}

@media (min-width: 768px) {
  .checkingbloc {
    padding: 40px;
  }
}

.btn-xl{
  
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
}

.btn-my {
  color: rgb(0, 0, 0);
  background-color: rgb(158, 185, 224);
  border-color: rgb(158, 185, 224);
}



